#header {
  color: #d4e0ef;
  font-size: 20px;
  font-weight: 600;
  height: 250px;
  .logo {
    color: #ffffff;
    display: inline-block;
    font-weight: 600;
    height: inherit;
    left: 0;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
  }

  .inner {
    margin: 12px auto;
    position: relative;
    z-index: 9999;
    #nav {
      margin: 0;
      padding: 0;
      border: 0;
      vertical-align: baseline;
      text-align: right;
      a {
        -moz-transition: color 0.2s ease-in-out;
        -webkit-transition: color 0.2s ease-in-out;
        -ms-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out;
        display: inline-block;
        padding: 0 0.75em;
        color: inherit;
        text-decoration: none;
        font-size: .8em;
      }

      .user-logout {
        margin-left: 10px;
        font-size: 20px;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  #banner {
    padding-top: 50px;
    height: 200px;
    background-image: url("http://media.paperblog.fr/i/449/4499470/voie-lactee-comme-lavez-vue-L-XZ5e18.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
  }
}